<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<header class="flex justify-between items-center mb-[25px]">
    <h1 class="text-4xl font-semibold">Dashboard</h1>
    <button class="bg-[crimson] text-white px-[15px] py-[8px] border-0 cursor-pointer rounded-[5px] transition duration-300 hover:bg-[#a50000]" id="logoutBtn">Cerrar sesión</button>
</header>
</html>
