<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <!-- Sidebar -->
    <aside class="w-[220px] bg-gray-600 text-white p-[20px] flex-shrink-0 h-[100vh] overflow-y-auto">
        <h2 class="text-[24px] mb-[30px] text-center font-semibold">Mi Panel</h2>
        <nav>
            <a href="dashboard.html"
                class="block p-3 mb-2.5 rounded text-white no-underline transition duration-300 bg-gray-600">Dashboard</a>
            <a href="dashboard.html"
                class="block p-3 mb-2.5 rounded text-gray-300 no-underline transition duration-300 hover:bg-gray-600 hover:text-white">Proyectos</a>
            <a href="#"
                class="block p-3 mb-2.5 rounded text-gray-300 no-underline transition duration-300 hover:bg-gray-600 hover:text-white">Reportes</a>
            <a href="#"
                class="block p-3 mb-2.5 rounded text-gray-300 no-underline transition duration-300 hover:bg-gray-600 hover:text-white">Configuración</a>
        </nav>
    </aside>
</body>

</html>